@charset "UTF-8";




h3 {
	font-size: 2.0em; font-weight: bold; padding:10px 0 10px 0px; margin:0 10px; text-align: center
}

table {
/*    width: 100%; */
   border: 1px solid #000000;
   border-collapse: collapse;
 }
 th, td {
   border: 1px solid #000000;
 }